Telerik/DemoApp/Examples/Chart/Service References/NorthwindWCFServiceReference/NorthwindWCFService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Examples.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Examples.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33713/NorthwindWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Discontinued" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReorderLevel" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="SupplierID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitsInStock" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="UnitsOnOrder" nillable="true" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>